<div id="sidebar-container" class="bg-primary">
    <div class="logo">
        <h4 class="text-light font-weight-bold mb-0"> <span><i class="icon ion-md-people lead mr-2"></i></span>Redes Sociales</h4>
    </div>
    <div class="menu">
        <a href="#inicio" class="d-block text-light p-3 border-0"><i class="icon ion-md-apps lead mr-2"></i>
            General</a>
        <a href="#estadisticas" class="d-block text-light p-3 border-0"><i class="icon ion-md-stats lead mr-2"></i>
            Estadísticas</a>
        <a href="#rangos" class="d-block text-light p-3 border-0"><i class="icon ion-md-people lead mr-2"></i>
            Rangos de Edad</a>
    </div>
</div>